:root {
    --primary-color: #0a1118 !important; 
    --primary-color-highlight: #233D54 !important;
    --bs-body-bg: #FBF0F6 !important;
    --bs-body-font-family: 'Montserrat' , sans serif !important;
} !important